
#text{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

#qr{
	width: 115px;
}

#logo{
	width: 250px;
	margin-bottom: 0px;
}

#name{
	 height: 40px; 
	 margin-top:20px;
}

#space{
	font-size: 6px;
}